@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Projekt";
  src: url("/fonts/projekt-blackbird-v2.otf") format("truetype");
  font-weight: 100 900;
  font-style: bold;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.hidden {
  opacity: 0;
  visibility: hidden; /* Masque l'élément initialement */
}
@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
.rotate-y {
  will-change: transform, opacity;
}

/* Styliser la barre de défilement entière */
::-webkit-scrollbar {
  width: 0px; /* Largeur de la scrollbar */
  height: 0px;
  background-color: #000; /* Hauteur de la scrollbar (pour les barres horizontales) */
}

/* Styliser la "thumb" (la partie défilante) */
::-webkit-scrollbar-thumb {
  background-color: #000000; /* Couleur de la thumb */
  border-radius: 0px;
  width: 0px;
  height: 10px;
}

/* Styliser la "track" (la piste où défile la thumb) */
::-webkit-scrollbar-track {
  background-color: #18181a; /* Couleur de la piste */
  /* Arrondir la piste */
}

/* Pour styliser la barre au survol */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Couleur au survol */
}

.textcolor2 {
  color: #345d6e;
}
.bgcolor {
  background-color: #345d6e;
}
.circle {
  border-radius: 100%;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.362);
}
.modalslider {
  transition: top 0.4s ease-in-out;
}
.over {
  background-color: rgba(189, 189, 207, 0);

  backdrop-filter: blur(50px);
}
.backgroundd {
  background-color: #2044987c;

  backdrop-filter: blur(0px);
}
.backgrounddsave {
  background-color: hsla(226, 12%, 50%, 0);
  mix-blend-mode: darken;
  backdrop-filter: blur(0px);
}
.backgroundd2 {
  background-color: hsl(228, 37%, 24%);
  mix-blend-mode: overlay;
}
.bgclassique {
  background-color: #0000008b;
}
.classique2 {
  background-color: #222d55;
}
/* .backgroundd3 {
  background-color: hsla(229, 14%, 37%, 0);
  mix-blend-mode: difference;
} */
.bg33 {
  opacity: 60%;
  mix-blend-mode: difference;
}
.button {
  background-color: hsla(0, 0%, 3%, 0.33);
  mix-blend-mode: difference;
}

@media (max-width: 800px) {
}
