.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.A {
  color: rgb(272, 244, 255);
  visibility: hidden;
}

.C {
  color: rgb(262, 234, 255);
  visibility: hidden;
}

.K {
  color: rgb(252, 224, 255);
  visibility: hidden;
}

.D {
  color: rgb(242, 214, 255);
  visibility: hidden;
}

.e {
  color: rgb(232, 204, 255);
  visibility: hidden;
}

.v {
  color: rgb(222, 194, 255);
  visibility: hidden;
}

.ee {
  color: rgb(212, 184, 255);
  visibility: hidden;
}

.l {
  color: rgb(202, 174, 255);
  visibility: hidden;
}
.o {
  color: rgb(192, 164, 255);
  visibility: hidden;
}

.p {
  color: rgb(182, 154, 255);
  visibility: hidden;
}

.eee {
  color: rgb(172, 144, 254);
  visibility: hidden;
}

.r {
  color: rgb(162, 134, 255);
  visibility: hidden;
}

.VV {
  color: rgb(162, 134, 255);
}

.line {
  width: 220px;
  border-radius: 10px;
  transform: rotateZ(95deg);
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: white;
  height: 2px;
}

.reactlogo {
  width: 7rem;
  height: 7rem;

  background-color: rgb(98, 98, 98);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 6px -2px 20px 0px #81808300;
}
.react {
  color: rgb(150, 123, 211);
}

.reactlogo:hover {
  background-color: rgb(149, 149, 149);
  box-shadow: 8px 2px 20px 3px #ffffff1f;
}

.nextlogo {
  width: 7rem;
  height: 7rem;
  background-color: rgb(98, 98, 98);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 5px 1px 20px 3px #ffffff00;
}
.nextlogo:hover {
  background-color: rgb(149, 149, 149);
  box-shadow: 8px 8px 20px 3px #ffffff1f;
  box-shadow: 5px 1px 20px 3px #ffffff2d;
}

.reduxlogo {
  width: 7rem;
  height: 7rem;
  background-color: rgb(98, 98, 98);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: -5px -1px 20px 3px #ffffff00;
}
.reduxlogo:hover {
  background-color: rgb(149, 149, 149);

  box-shadow: -5px -1px 20px 3px #ffffff34;
}
.tailwindlogo {
  width: 7rem;
  height: 7rem;
  background-color: rgb(98, 98, 98);
  padding: 1rem;
  box-shadow: -8px -2px 20px 3px #ffffff00;
  border-radius: 20px;
}
.tailwindlogo:hover {
  box-shadow: -8px -2px 20px 3px #ffffff39;
  background-color: rgb(149, 149, 149);
  box-shadow: -8px -2px 20px 3px #ffffff1f;
}
.nodelogo {
  width: 7rem;
  height: 7rem;
  background-color: rgb(98, 98, 98);
  padding: 1rem;
  border-radius: 20px;
}
.nodelogo:hover {
  background-color: rgb(149, 149, 149);
  box-shadow: 8px 8px 20px 3px #ffffff1f;
}
.expresslogo {
  width: 7rem;
  height: 7rem;
  background-color: rgb(98, 98, 98);
  border-radius: 20px;
}
.expresslogo:hover {
  background-color: rgb(149, 149, 149);
  box-shadow: 8px 8px 20px 3px #ffffff1f;
}
.mongologo {
  width: 7rem;
  height: 7rem;
  background-color: rgb(98, 98, 98);
  padding: 1rem;
  border-radius: 20px;
}
.mongologo:hover {
  background-color: rgb(149, 149, 149);
  box-shadow: 8px 8px 20px 3px #ffffff1f;
  box-shadow: -5px 1px 20px 3px #ffffff34;
}
.gitlogo {
  width: 7rem;
  height: 7rem;
  background-color: rgb(98, 98, 98);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: -8px 2px 20px 3px #ffffff00;
}

.gitlogo:hover {
  background-color: rgb(149, 149, 149);

  box-shadow: -8px 2px 20px 3px #ffffff29;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contentCard {
  transition: all 0.15s ease-out;
}
.card {
  perspective: 1000px;
}
.img {
  padding: 0px;
  border-radius: 20px;
  /* box-shadow: inset 0px 2px 200px 10px #5d398646 */
}
@media (max-width: 640px) {
  .reactlogo,
  .nextlogo,
  .reduxlogo,
  .tailwindlogo,
  .nodelogo,
  .expresslogo,
  .mongologo,
  .gitlogo {
    width: 6rem; /* Réduire la largeur à 5rem */
    height: 6rem; /* Réduire la hauteur à 5rem */
  }

  .img {
    width: 80%;
    padding: 0px;
    border-radius: 20px;
    /* box-shadow: inset 0px 2px 200px 10px #5d398646 */
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
  }
}
.invisible {
  opacity: 0%;
  transform: translateY(200px);
  transition: 1s ease-out;
}
